@model ReportViewModel
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



    <b> Path: </b> <input type="text" id="path"> <br />
    <b> Api Url: </b> <input type="text" id="apiurl"> <br />
    <b> Report Name: </b> <input type="text" id="reportname"> <br />
    <input type="button" value="update" onclick="Update()"> <br />

    <a href="https://localhost:44375/api/Report/ReportList"> Back to List</a>

    <script>

        const params = new URLSearchParams(window.location.search)
        var id = @Html.Raw(Model.Id);

        $.ajax({
            url: 'https://localhost:44375/api/Report/Details?id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data, textStatus, xhr) {
                var model = data.result;
                document.getElementById("path").value = model.path;
                document.getElementById("apiurl").value = model.apiUrl;
                document.getElementById("reportname").value = model.reportName;
            },
            error: function (data, textStatus, xhr) {
                alert("Something Went Wrong");
            }
        });

        function Update() {

            var model = {

                path: document.getElementById("path").value,
                apiUrl: document.getElementById("apiurl").value,
                reportName: document.getElementById("reportname").value
            };


            $.ajax({
                url: 'https://localhost:44375/api/Report/Update?id=' + id,
                type: 'POST',
                dataType: 'json',
                data: model,
                success: function (data, textStatus, xhr) {
                    alert(data.message);
                    location.replace("https://localhost:44375/api/Report/ReportList");

                },
                error: function (data, textStatus, xhr) {
                    alert("Something Went Wrong");
                }
            });
        }

    </script>
